---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=25&screen_name=jijlkpipi0909
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<CLIENT_ID>", oauth_nonce="Rqrw0iHepfeRDZwaNZcw2i0mgf3O8rCTAeDUmwyeeYE",
        oauth_signature="c50QQyKKqyC3RKPr5U0n%2FVES1vE%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1460327224", oauth_token="<ACCESS_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 10 Apr 2016 22:26:28 GMT
      Status:
      - 404 Not Found
      X-Access-Level:
      - read
      X-Connection-Hash:
      - d62c93e002683af143afc895165e5f48
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '168'
      X-Rate-Limit-Reset:
      - '1460327625'
      X-Response-Time:
      - '27'
      X-Transaction:
      - 1534d74690290e24
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"code":34,"message":"Sorry, that page does not exist."}]}'
  recorded_at: Sun, 10 Apr 2016 22:27:04 GMT
recorded_with: VCR 2.7.0
