---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=25&screen_name=twitterapi
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<CLIENT_ID>", oauth_nonce="sdIA1zk52QqdLKSOzrhu6IqbkYiePTLrydJCs5ePA",
        oauth_signature="7%2BSOPvJ7MkXuaCrjggISr86iF9k%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1460327224", oauth_token="<ACCESS_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 10 Apr 2016 22:26:28 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 869f82e8e7946591a11e8a032c1c2919
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '169'
      X-Rate-Limit-Reset:
      - '1460327625'
      X-Response-Time:
      - '84'
      X-Transaction:
      - 37d33ede9296c325
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Fri Apr 08 15:20:35 +0000 2016","id":718458527275229184,"id_str":"718458527275229184","text":"We''ve
        enhanced the documentation around our Media APIs, for upload and alt text
        support https:\/\/t.co\/obNBSSS5H2","entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/obNBSSS5H2","expanded_url":"https:\/\/dev.twitter.com\/rest\/media","display_url":"dev.twitter.com\/rest\/media","indices":[88,111]}]},"truncated":false,"source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter for  iPhone\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":6253282,"id_str":"6253282","name":"Twitter
        API","screen_name":"twitterapi","location":"San Francisco, CA","description":"The
        Real Twitter API. I tweet about API changes, service issues and happily answer
        questions about Twitter and our API. Don''t get an answer? It''s on my website.","url":"http:\/\/t.co\/78pYTvWfJd","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/78pYTvWfJd","expanded_url":"http:\/\/dev.twitter.com","display_url":"dev.twitter.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":5840567,"friends_count":47,"listed_count":13054,"created_at":"Wed
        May 23 06:01:13 +0000 2007","favourites_count":27,"utc_offset":-25200,"time_zone":"Pacific
        Time (US & Canada)","geo_enabled":true,"verified":true,"statuses_count":3564,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/656927849\/miyt9dpjz77sc0w3d4vj.png","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/656927849\/miyt9dpjz77sc0w3d4vj.png","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/2284174872\/7df3h38zabcvjylnyfe3_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/2284174872\/7df3h38zabcvjylnyfe3_normal.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/6253282\/1431474710","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":41,"favorite_count":79,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"created_at":"Wed
        Apr 06 12:54:10 +0000 2016","id":717696904906350592,"id_str":"717696904906350592","text":"Improved
        image sizes coming soon to the API. Details here on the dev forums, https:\/\/t.co\/ivGr2Y2Pbx
        and on the blog https:\/\/t.co\/dduQ4dVwa7","entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/ivGr2Y2Pbx","expanded_url":"https:\/\/twittercommunity.com\/t\/coming-soon-improved-image-sizes-to-the-api\/64601","display_url":"twittercommunity.com\/t\/coming-soon-\u2026","indices":[77,100]}],"media":[{"id":717696555801821185,"id_str":"717696555801821185","indices":[117,140],"media_url":"http:\/\/pbs.twimg.com\/media\/CfXFNwkWwAETFB2.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/CfXFNwkWwAETFB2.jpg","url":"https:\/\/t.co\/dduQ4dVwa7","display_url":"pic.twitter.com\/dduQ4dVwa7","expanded_url":"http:\/\/twitter.com\/twitterapi\/status\/717696904906350592\/photo\/1","type":"photo","sizes":{"small":{"w":340,"h":227,"resize":"fit"},"medium":{"w":600,"h":400,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"large":{"w":600,"h":400,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":717696555801821185,"id_str":"717696555801821185","indices":[117,140],"media_url":"http:\/\/pbs.twimg.com\/media\/CfXFNwkWwAETFB2.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/CfXFNwkWwAETFB2.jpg","url":"https:\/\/t.co\/dduQ4dVwa7","display_url":"pic.twitter.com\/dduQ4dVwa7","expanded_url":"http:\/\/twitter.com\/twitterapi\/status\/717696904906350592\/photo\/1","type":"photo","sizes":{"small":{"w":340,"h":227,"resize":"fit"},"medium":{"w":600,"h":400,"resize":"fit"},"thu[...]
